{% extends 'pmanager/base.html' %}
{% block title %}المبادرات{% endblock %}
{% block body %}
<style>
#weekly_reports:hover{
    background-color: #eaeaea !important;
}
</style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

     <div class="container">
     <h4 class="text-center">التقارير الأسبوعية للمبادرات</h4>
         <hr style="width: 80%">

               <div class="row">
                 <div class="col-2"></div>
                 <div class="col-8" >
                      {% for mub in reports  %}
                          <ul class="" style="background: none; !important;">
                                <a href="{% url 'pmanager:details' mub.mub_r.id  mub.week_no mub.pk  %}  " style=" text-decoration: none !important; color: #1b1e21; width: 100%">
                                    <li id="weekly_reports" class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ mub.week_ar  }}
                                        {% for com  in mub.comment_set.all  %}
                                            <span style="text-align: left; font-size: 11px">تم التقييم &nbsp;
                                            <i class="fas fa-check-circle" title="تم التقييم" style="color: green; font-size: 17px !important;"></i></span>
                                            <span style="font-size: 10pt">التقييم ({{ com.grade }}) من (100)</span>
                                    </a>
                                             <button
                                                   class="feed-id btn btn-outline-info"
                                                   style="margin: 0;"
                                                   type="button"
                                                   name="button"
                                                   data-toggle="modal"
                                                   data-target="#myModal"
                                                   data-id="{{ com.comment }}"
                                                   data-title="{{ 'ملاحظات المشرف' }}">ملاحظات المشرف
                                             </button>
                                     <a href="{% url 'pmanager:details' mub.mub_r.id  mub.week_no mub.id  %}  " style=" text-decoration: none !important; color: #1b1e21">
                                        {% empty %}
                                            <span class="text-center" style="font-size: 11px">لم يتم التقييم &nbsp;
                                            <i class="fas fa-info-circle" title="لم يتم التقييم" style="color: orange; font-size: 17px !important;"></i></span>
                                        {% endfor %}
                                    </li>
                                 </a>
                          </ul>

                      {% endfor %}
                 </div>
                 <div class="col-2">
                 </div>
              </div>
     </div>

      <!-- The Modal -->
<!-- Large modal -->
<div class="container">

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <p id='feed_id'  type='hidden'  ></p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">إغلاق</button>
        </div>

      </div>
    </div>
  </div>

</div>

<script>
    $(document).ready(function () {
        $('body').on('click', '.feed-id', 'modal-title',function(){
        document.getElementById("feed_id").innerHTML = $(this).attr('data-id');
        document.getElementById("modal-title").innerHTML =  $(this).attr('data-title');

        });
    });
</script>
{% endblock %}